@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202124;
  color: #BDC1C6;
}

*,*:hover, *:active, button:focus{
  outline:none;
}

b {
  color: #DDDEE1;
}

input {
  background-color: #303134;
  color: #E8EAED;
}

input:hover:not(:focus) {
  box-shadow: 0 4px 12px rgb(23 23 23 / 90%)
}
